@font-face {
    font-family: "why-ecom";
    src: url("/src/assets/fonts/LarkenDEMO-Black.otf") format("opentype");
}

@font-face {
    font-family: "ecomcontent";
    src: url("/src/assets/fonts/CraftRounded-Regular.ttf") format("truetype");
}

.why-ecom {
    font-family: "why-ecom";
}

.ecom-content {
    font-family: "ecomcontent";
}

.ecom-section {
    background-color: #1c1c1c;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ecom-section-left {
    display: flex;
    flex-direction: column;
}

.ecom-section-left h3 {
    color: #FF6802;
}

.ecom-points {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ecom-points li {
    display: flex;
    align-items: center;
}

.ecom-section-right {
    display: flex;
    flex-direction: column;
}

.ecom-demo-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.ecom-demo-buttons a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.ecom-check-images {
    max-width: 100%;
    height: auto;
}

.ecom-demo-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
}

@media (min-width: 300px) {   
    .ecom-scanner-images {
        height: 100px ;
    }
}

@media (min-width: 500px) {   
    .ecom-scanner-images {
        height: 130px ;
    }
}

@media (min-width: 540px) {   
    .ecom-scanner-images {
        height: 150px ;
    }
}

@media (min-width: 670px) {   
    .ecom-scanner-images {
        height: 170px ;
    }
}

@media (min-width: 740px) {   
    .ecom-scanner-images {
        height: 190px ;
    }
}

@media (min-width: 820px) {   
    .ecom-scanner-images {
        height: 225px ;
    }
}

@media (min-width: 930px) {   
    .ecom-scanner-images {
        height: 130px ;
    }
}

@media (min-width: 1024px) {   
    .ecom-scanner-images {
        height: 140px ;
    }
}

@media (min-width: 1200px) {   
    .ecom-scanner-images {
        height: 150px ;
    }
}

@media (min-width: 1300px) {   
    .ecom-scanner-images {
        height: 170px ;
    }
}

@media (max-width: 930px) {    
    .ecom-section {
        flex-direction: column;
        text-align: center;
    }
    .ecom-section-left {
        width: 100%;
        order:2;
        align-items: center;
        justify-content: center;
    }
    .ecom-section-left h3 {
        color: #FF6802;
    }
    .ecom-points li {
        font-size: 20px;
    }
}

@media (max-width: 830px) {   
    .ecom-points li {
        font-size: 16px;
    }
}

@media (max-width: 680px) {   
    .ecom-points li {
        font-size: 13px;
    }
}

@media (max-width: 560px) {   
    .ecom-points li {
        font-size: 18px;
    }
}

@media (max-width: 930px) and (min-width: 560px) {
    .ecom-points {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 420px) {    
    .ecom-points li {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .ecom-demo-buttons a {
       padding-left: 4px;
       padding-right: 4px;
       width: 100%;
    }

    .ecom-scan-text {
        display: none;
    }

    .ecom-check-app-text {
        display: inline;
    }

    .ecom-arrow-image {
        width: 12px;
    }

    .ecom-demo-grid > div {
        padding: 8px;
    }
}

@media (max-width: 500px) {    
    .ecom-check-images {
        height: 100px ;
    }
    .ecom-demo-grid > div {
        padding: 8px;
    }
}

@media (max-width: 335px) { 
    .ecom-section {
        padding: 8px;
    }   
    .ecom-demo-grid > div {
        padding: 4px;
    }
}