@font-face {
    font-family: "plateform";
    src: url("/src/assets/fonts/LarkenDEMO-Black.otf") format("opentype");
}

@font-face {
    font-family: "business";
    src: url("/src/assets/fonts/DupincelSmallTest-BlackItalic.otf") format("opentype");
}

.plateform {
    font-family: "plateform";
    color: #FF6802;
}

.business {
    font-family: "business";
}


.comparison-table {
    margin: 20px auto;
    max-width: 100%;
    text-align: center;
    overflow-x: auto;
    scrollbar-width: thin;
}

.comparison-table table {
    width: 100%;
    min-width: 700px;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 10px;
}

.comparison-table::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.comparison-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.comparison-table::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.comparison-table th,
.comparison-table td {
    vertical-align: middle;
    font-size: 14px;
}

.comparison-table th {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.comparison-table .highlight-header {
    background-color: #FF6802;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.comparison-table .highlight-column {
    background-color: #FF6802;
    color: white;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.comparison-table .highlight-column:first-child {
    border-top-left-radius: 10px;
}

.comparison-table tr:last-child .highlight-column {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comparison-table .feature {
    text-align: left;
    font-weight: bold;
}

.comparison-table tr td:not(.highlight-column) {
    border-bottom: 2px solid #ddd;
}

.comparison-table td:not(:first-child) {
    border-left: none;
}

.icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}