@font-face {
    font-family: "PricingContent";
    src: url("/src/assets/fonts/CraftRounded-Regular.ttf") format("truetype");
}

.pricing-content {
    font-family: "PricingContent";
}

.grid-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.button-discover {
    padding-left: 24px;
    padding-right: 24px;
}

@media (max-width: 540px) {
    .grid-sections {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 370px) {
    .button-discover {
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
}
