.country-names {
    font-family: "DupincelSmallTest-SemiBoldItalic";
}

.uber {
    font-family: "LarkenDEMO-Black";
}

.uber-content {
    font-family: "CraftRounded-Regular";
}

.section {
    background-color: #1c1c1c;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-left {
    display: flex;
    flex-direction: column;
}

.section-left h3 {
    color: #FF6802;
}

.countries {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.countries li {
    display: flex;
    align-items: center;
}

.section-right {
    display: flex;
    flex-direction: column;
}

.demo-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.demo-buttons a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.check-images {
    max-width: 100%;
    height: auto;
}

.rest-demo-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
}

@media (min-width: 300px) {   
    .rest-scanner-images {
        height: 100px ;
    }
}

@media (min-width: 500px) {   
    .rest-scanner-images {
        height: 130px ;
    }
}

@media (min-width: 540px) {   
    .rest-scanner-images {
        height: 160px ;
    }
}

@media (min-width: 580px) {   
    .rest-scanner-images {
        height: 180px ;
    }
}

@media (min-width: 680px) {   
    .rest-scanner-images {
        height: 200px ;
    }
}

@media (min-width: 820px) {   
    .rest-scanner-images {
        height: 240px ;
    }
}

@media (min-width: 930px) {   
    .rest-scanner-images {
        height: 150px ;
    }
}

@media (min-width: 1200px) {   
    .rest-scanner-images {
        height: 160px ;
    }
}

@media (min-width: 1300px) {   
    .rest-scanner-images {
        height: 190px ;
    }
}

@media (max-width: 930px) {    
    .section {
        flex-direction: column;
        text-align: center;
    }
    .section-left {
        width: 100%;
        order:2;
        align-items: center;
        justify-content: center;
    }
    .section-left h3 {
        color: #FF6802;
    }
    .countries li {
        font-size: 20px;
    }
}

@media (max-width: 830px) {   
    .countries li {
        font-size: 16px;
    }
}

@media (max-width: 680px) {   
    .countries li {
        font-size: 13px;
    }
}

@media (max-width: 560px) {   
    .countries li {
        font-size: 18px;
    }
}

@media (max-width: 400px) {   
    .countries li {
        font-size: 12px;
    }
}

@media (max-width: 930px) and (min-width: 560px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 420px) {    
    .countries {
        display: flex;
        font-size: 14px;
    }

    .demo-buttons a {
       padding-left: 4px;
       padding-right: 4px;
       width: 100%;
    }

    .arrow-image {
        width: 12px;
    }

    .rest-demo-grid > div {
        padding: 8px;
    }
}

@media (max-width: 500px) {    
    .check-images {
        height: 100px ;
    }
    .rest-demo-grid > div {
        padding: 8px;
    }
}

@media (max-width: 370px) { 
    .section {
        padding: 8px;
    }   
    .rest-demo-grid > div {
        padding: 4px;
    }
}

@media (max-width: 345px) {    
    .small-button {
        padding-left: 8px;
        padding-right: 8px;
    }
    .small-padding {
        padding: 4px;
    }
}