.intro-container {
    text-align: center;
}

.achieve-title {
    font-family: "LarkenDEMO-Black";
    text-transform: uppercase;
    margin: 0;
    color: #000;
}

.profit-title {
    font-family: "DupincelSmallTest-SemiBoldItalic";
    margin: 0;
    color: #00A963;
}

.home-description-text {
    font-family: "LarkenDEMO-Black";
}

.ecom-Restaurant {
    font-family: "EcomRestaurant";
}

.info-sections {
    justify-content: center;
}

.relative-container {
    position: relative;
    display: inline-block;
}

.arrow-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 5px;
}

.arrow-image {
    width: 20px;
    height: auto;
}

.info-box {
    text-align: center;
    border-radius: 10px;
    max-width: 1400px;
    position: relative;
    display: inline-block;
}

.info-image {
    width: 100%;
    height: auto;
    display: block;
}

.info-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-image {
    display: block;
    width: 100%;
    height: auto;
}

.info-button-container {
    position: absolute;
    width: 100%;
    max-width: 500px;
}

.info-button {
    background-color: #0F54FF;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "CraftRounded-Regular";
}

.info-box:nth-child(2) .info-button {
    background-color: #FF6802;
}

.info-button:hover {
    transform: scale(1.1);
}

@media (max-width: 540px) {
    .info-button:hover {
        transform: none;
    }
}

@media (max-width: 340px) {
    .info-button {
        font-size: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media (max-width: 330px) {
    .home-description-text {
        font-size: 15px;
    }
}