@font-face {
    font-family: "FoodDelivery";
    src: url("/src/assets/fonts/LarkenDEMO-Black.otf") format("opentype");
}

@font-face {
    font-family: "Simplified";
    src: url("/src/assets/fonts/DupincelSmallTest-SemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "customWebApp";
    src: url("/src/assets/fonts/CraftRounded-Regular.ttf") format("truetype");
}

.intro-container {
    text-align: center;
}

.title {
    font-family: "FoodDelivery";
    text-transform: uppercase;
    margin: 0;
    color: #000;
}

.simplified {
    font-family: "Simplified";
    margin: 0;
    color: #FF6802;
}

.description-text {
    font-family: "customWebApp";
}


.order-process-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.order-step {
    align-items: center;
    width: 100%;
    position: relative;
}

.step-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 150px;
}

.order-step.up {
    align-self: flex-start;
}

.order-step.down {
    align-self: flex-end;
}

@media (max-width: 540px) {
    .order-process-container {
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .order-step {
        width: 100%;
        align-self: center;
    }

    .step-image {
        width: 100%;
        max-width: 250px;
        height: auto;
        border-radius: 150px;
    }
}