.popup-content {
    font-family: "CraftRounded-Regular";
}

.custom-web-design {
    font-family: "LarkenDEMO-Black";
    color: #FF6802;
}

.rest-ecom {
    font-family: "DupincelSmallTest-SemiBoldItalic";
    color: white;
}

.note-title {
    font-family: "Note";
}

@media (max-width: 768px) {
    .rest-ecom {
        font-size: 20px;
    }

    .btn-free-design{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
    }
}

@media (max-width: 535px) {
    .rest-ecom {
        font-size: 18px;
    }

    .custom-web-design {
        font-size: 16px;
    }
}

@media (max-width: 455px) {
    .rest-ecom {
        font-size: 16px;
    }

    .custom-web-design {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .rest-ecom {
        font-size: 14px;
    }

    .custom-web-design {
        font-size: 12px;
    }

    .note-title {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .rest-ecom {
        font-size: 12px;
    }

    .custom-web-design {
        font-size: 10px;
    }

    .note-title {
        font-size: 12px;
    }

    .btn-free-design{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .yes-no-website {
        font-size: 14px;
    }
}

.appearance-none {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1C2433;
    border: 2px solid #1C2433;
    appearance: none;
}

.appearance-none::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #1C2433;
}

.appearance-none::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appearance-none:checked::after {
    background-color: white;
}

#calendar {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

#calendar .selected-date {
    background-color: orange;
    color: white;
}

.phone-input .form-control {
    padding-left: 48px !important;
}

.phone-input .flag-dropdown {
    padding-right: 10px !important;
}

.phone-input .country-list {
    background-color: #1C2433 !important;
    border: 1px solid #343947;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
    background-color: #4a5b6e !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background: #4a5b6e !important;
    border-radius: 3px 0 0 0;
}

.react-tel-input .country-list:hover .country.highlight {
    background-color: #4a5b6e !important;
}

.react-tel-input .country-list .country:hover {
    background-color: #4a5b6e !important;
}

.react-tel-input .country-list .country.highlight {
    background-color: #4a5b6e !important;
    color: #FFFFFF !important;
}

.react-datepicker-wrapper{
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal-content {
    padding: 10px;
    max-width: 100%;
    position: relative;
    z-index: 50;
}
