.intro-container {
    text-align: center;
}

.cms-title {
    font-family: "LarkenDEMO-Black";
}

.main-sub-title {
    font-family: "LarkenDEMO-Black";
    color: black;
}

.ecom-description-text {
    font-family: "LarkenDEMO-Black";
}

.bold-title {
    font-family: "CraftRounded-Bold";
}

.logos {
    margin-bottom: 0;
}

.logos img {
    margin: 0;
}

.ecommerce-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.order-steps {
    align-items: center;
    width: 100%;
    position: relative;
}

.step-images {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.order-steps.up {
    align-self: flex-start;
}

.order-steps.down {
    align-self: flex-end;
}

@media (max-width: 540px) {
    .ecommerce-container {
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .order-steps {
        width: 100%;
        align-self: center;
    }
}

@media (max-width: 380px) {
    .main-sub-title {
        font-size: 22px;
        padding-top: 15px;
    }

    .cms-title {
        font-size: 23px;
    }

    .full-title-gap {
        gap: 0.75rem;
    }
}