.home-redesign-container {
    justify-content: space-between;
    align-items: center;
    background: url('../../assets/redesignBg.webp') no-repeat center center/cover;
}

.start-success-button {
    background-color: black;
    color: #F9ED32;
    border: none;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8),
                0 1px 0 rgba(255, 255, 255, 0.8),
                -1px 0 0 rgba(255, 255, 255, 0.8),
                0 -1px 0 rgba(255, 255, 255, 0.8);
}