.footer-content {
    font-family: "CraftRounded-Regular";
}

.footer {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 50px;
    margin-right: 15px;
}

.footer-text p {
    font-size: 14px;
    color: #333;
}

.footer-middle {
    text-align: center;
}

.social-icons img {
    width: 24px;
    margin: 0 10px;
}

.footer-right .blue {
    background-color: #0F54FF;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.footer-right .orange {
    background-color: #FF6802;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 640px) {
    .footer {
        display: block;
    }

    .footer-sections {
        flex-direction: row;
        text-align: center;
    }

    .footer-left {
        justify-content: center;
        margin-bottom: 15px;
    }

    .footer-right {
        align-items: center;
        margin-top: 15px;
    }

    .footer-text {
        text-align: center;
        margin-left: 0;
    }

    .footer-middle {
        display: flex;
        justify-content: center;
    }

    .social-icons img {
        margin: 0 5px;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-right .footer-button {
        width: 100%;
        max-width: 300px;
    }
}

@media (min-width: 1800px) {
    .responsive-container {
        max-width: 1200px; 
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}