.hidden-content {
    display: none;
}

.active {
    color: #2563eb;
    font-weight: bold;
}

.screen {
    display: block;
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    height: auto;
    bottom: -100%;
    position: absolute;
    top: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    transition: transform 5s ease;
}

.screen:hover img {
    transform: translateY(-50%);
}

.gif-overlay {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.header-title {
    font-family: "DupincelSmallTest-SemiBoldItalic";
}

.sub-title {
    font-family: 'LarkenDEMO-Black', sans-serif;
}

@media (max-width: 360px) {
    .sub-title {
        font-size: 1rem !important;
    }

    .header-title {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 1800px) {
    .responsive-container {
        max-width: 1200px; 
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
