@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 100%;
  }
  
  .container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  @media (min-width: 1024px){
    .container{
      margin-top: 2.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 640px){
    .container{
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px){
    .container{
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px){
    .container{
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px){
    .container{
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px){
    .container{
      max-width: 1536px;
    }
  }
  
  .gradient-hover-outer{
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    padding: 1px;
  }
  
  .gradient-hover-outer:hover{
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #3422ff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(254 202 202 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(233 213 255 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #f4f4f4 var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #00d9ff var(--tw-gradient-to-position);
  }
  
  .gradient-hover-inner{
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  }
  
  .group:hover .gradient-hover-inner{
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #0099ff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(254 242 242 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(250 245 255 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #b3d4ff var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #befaff var(--tw-gradient-to-position);
  }