.ecom-our-food {
    color: #0F54FF;
    font-family: "LarkenDEMO-Black";
}

.website-design {
    font-family: "DupincelSmallTest-SemiBoldItalic";
}

.scroller {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.scroller__inner {
    will-change: transform;
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    animation: scroll 50s linear infinite;
}

.scroller[data-direction="right"] .scroller__inner {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50%));
    }
}

.scroller__inner img {
    width: auto;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    flex: 0 0 auto;
    margin-right: 1rem;
    border-radius: 8px;
}

@media (max-width: 540px) {
    .scroller__inner img {
        max-width: 150px;
        height: auto;
        margin-right: 8px;
    }
}
