@font-face {
    font-family: "websiteDesign";
    src: url("/src/assets/fonts/DupincelSmallTest-SemiBoldItalic.otf") format("opentype");
}

.ecom-our-food {
    color: #0F54FF;
}

.website-design {
    font-family: "websiteDesign";
}

.scroller {
    max-width: 100%;
    overflow: hidden;
}

.scroller__inner {
    display: flex;
    width: max-content;
    margin-bottom: 20px;
    height: 100%;
    animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 30s;
}

.scroller__inner img {
    width: auto;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 8px;
}

@media (max-width: 540px) {
    .scroller__inner img {
        max-width: 150px;
        height: auto;
        margin-right: 8px;
    }
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 1rem));
    }
}

/* .scroller[data-animated="true"] {
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
} */

  