.save-fees-button {
    font-family: "CraftRounded-Bold";
}

.intro-container {
    text-align: center;
}

.food-delivery-title {
    font-family: "LarkenDEMO-Black";
    text-transform: uppercase;
    margin: 0;
    color: #000;
}

.simplified {
    font-family: "DupincelSmallTest-SemiBoldItalic";
    margin: 0;
    color: #FF6802;
}

.rest-description-text {
    font-family: "LarkenDEMO-Black", sans-serif;
}


.order-process-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.order-step {
    align-items: center;
    width: 100%;
    position: relative;
}

.step-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 150px;
}

.order-step.up {
    align-self: flex-start;
}

.order-step.down {
    align-self: flex-end;
}

@media (max-width: 540px) {
    .order-process-container {
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .order-step {
        width: 100%;
        align-self: center;
    }

    .step-image {
        width: 100%;
        max-width: 250px;
        height: auto;
        border-radius: 150px;
    }
}

@media (max-width: 370px) {
    .food-delivery-title {
        font-size: 20px;
    }

    .simplified {
        font-size: 20px;
    }
}